.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/83a2719fbb84e67b7a16711d9a836ac6cb079672e21179899c1fb3e5323098692f7f9fc4184201a9f22fb042e64e4624db465e9f1602f28c0c9f13_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 708px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: "Playfair Display", serif;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 471px 0 60px 648px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 448px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 228px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-size: 140%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 48px;
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 295px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  font-size: 3rem;
  width: 889px;
  animation-duration: 1000ms;
  margin: 165px auto 26px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 920px;
}

.u-section-3 .u-post-details-1 {
  min-height: 881px;
  width: 1140px;
  margin: -68px 0 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  height: 402px;
  width: 780px;
  margin: 59px auto 0;
}

.u-section-3 .u-text-1 {
  font-family: Bentham;
  width: 889px;
  margin: -20px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-family: Bentham;
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 39px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-post-details-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-3 .u-post-details-1 {
    width: 720px;
    margin-top: 21px;
    margin-bottom: 21px;
  }

  .u-section-3 .u-image-1 {
    height: 371px;
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 11px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-3 .u-post-details-1 {
    width: 540px;
    margin-top: -13px;
    margin-bottom: -13px;
  }

  .u-section-3 .u-image-1 {
    height: 278px;
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-3 .u-post-details-1 {
    width: 340px;
    margin-top: -61px;
    margin-bottom: -61px;
  }

  .u-section-3 .u-image-1 {
    height: 175px;
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 768px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 356px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 0 30px;
}

.u-section-4 .u-image-1 {
  width: 251px;
  height: 238px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-4 .u-image-2 {
  min-height: 313px;
  background-image: url("images/30f2dcb5939a206519b6f32f664a62c8c89ea84672e4fdc3cba8dfb4eb792cccb5cfe057c707add0027b75a57045aafac0c3009905c036cb5486d9_1280.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 678px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-4 .u-image-3 {
  height: 408px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: 28px auto 0 60px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 678px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-4 .u-group-1 {
  width: 404px;
  min-height: 293px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 69px auto 0 -102px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.25rem;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 655px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 100px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-4 .u-image-2 {
    min-height: 258px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 559px;
  }

  .u-section-4 .u-image-3 {
    height: 336px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 559px;
  }

  .u-section-4 .u-group-1 {
    width: 371px;
    min-height: 270px;
    margin-top: 33px;
    margin-left: -156px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-left: 0;
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-4 .u-image-1 {
    width: 608px;
    height: 372px;
    object-position: 50% 20.47%;
    background-position: 50% 20.47%;
  }

  .u-section-4 .u-image-2 {
    min-height: 459px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    height: 425px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-4 .u-image-1 {
    height: 330px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    min-height: 344px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-3 {
    height: 503px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-group-1 {
    width: 404px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 382px;
  }

  .u-section-4 .u-image-1 {
    height: 322px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    min-height: 239px;
  }

  .u-section-4 .u-image-3 {
    height: 317px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    width: 330px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }
}